.card{
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    margin-top: 3%;
}
.cardTicket{
    /*margin-left: 5%;
    margin-right: 5%;*/
}
.card-title{
padding-left: 3%;}
.card-text{
    text-align: center;
}
.buttonticketList{
    text-align: right;
    background-color: rgba(0,0,0,.1);
}
.btn{
    margin-right: 1%;
}
.card-receiver{
    position: fixed;
    z-index: 100;
    bottom: 5%;
    left: 5%;
}
#receivercard{
    background-color: rgba(2, 2, 2, 0.8);
    max-width: 30%;
    min-width: 200px;
    color: white;


}
