.modal-footer {   border-top: 0px; }
.container-customer{
    top: auto;
}
html{
    background:url("/images/ihealthbackgound.png") no-repeat ;
    background-size: cover;
    height: 100%;
    width: 100%;
}
body{
}
.backgroungUSerInterface{

  }
