.modal-content{
    background-color: white ;
    border: 1px solid rgba(0,0,0,.1);
}
.modal-header{
    border-bottom: none;
}
.btnCall{
    text-align: right;
}
.card-img-top{
  width:100%;
  height:auto;
}
.card{
    border-radius: 0px;
    background-color: white ;
}
.leftPart{
    position: absolute;
    max-width: 50%;
    min-width: 150px;
    max-height: 100%;
    font-family:sans-serif;
    font-weight: lighter;
    bottom: 2%;
    right: 3%;
    background-color: rgba(156,156,156,.29);
    border: 1px solid rgba(156,156,156,.29);

}
.leftPart{
    position: absolute;
    max-width: 50%;
    min-width: 150px;
    max-height: 100%;
    font-family:sans-serif;
    font-weight: lighter;
    bottom: 2%;
    right: 3%;
    background-color: rgba(156,156,156,.29);
    border: 1px solid rgba(156,156,156,.29);

}
h1{
    font-weight: lighter;
    color: rgba(0,0,0,.5);
}
.card-call-center{
    max-height: 50%;
}
